.amtp-content-container { overflow-x:auto; }

.amtp-loading-gif { display:inline; margin-right:2px; vertical-align:-2px; }
.amtp-loading-text { font-size:16px; }
.amtp-error { color: #cf1414; font-size: 16px; }
.amtp-error span { vertical-align: -5px; margin-right: -3px; }

/* responsive scrolling table */
.amtp-content-container table {
	-webkit-overflow-scrolling: touch;
	overflow-x:auto;
	border: none;
}
td, th { border: solid rgb(200, 200, 200) 1px; padding: .5rem; }
th { text-align: left; background-color: rgb(180, 180, 180); padding-top: 1rem; padding-bottom: 1rem; border-bottom: rgb(50, 50, 100) solid 2px; border-top: none; }
td { white-space: nowrap; border: 1px solid #aaaaaa; color: rgb(20, 20, 20); }
td:first-of-type, th:first-of-type { border-left: none; }
td:last-of-type, th:last-of-type { border-right: none; }
tr:nth-child(even) { background-color: #dddddd; } /* for striped rows */
