body.toplevel_page_amtp #wpcontent {
	padding-left:0px;
}

.amtp-admin-header {
	border-top: 3px solid #FF982D;
	padding: 20px;
	height:40px;
}


.amtp-admin-header .logo { float: left; margin-right: 10px; }
.amtp-admin-header h1 { margin:0px; padding: 0px; }
.amtp-admin-header h4 { margin:0px; }

.amtp-admin-menu {
	height: 58px;
	background-color: #fff;
	font-size: 14px;
	margin: 0 0 20px 0;
	padding: 0 20px;
}

.amtp-admin-menu ul.menu-list li {
	box-shadow: none;
	color: #666;
	display: inline-block;
	margin-right: 30px;
	padding: 20px 0 18px 0;
	text-decoration: none;
}

.amtp-admin-menu ul.menu-list li.active {
	border-bottom: 2px solid #FF982D;
}

.amtp-admin-button {
	background-color: #FF982D;
	border-color: #FF982D;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	padding: 8px 12px;
	min-height: 35px;
	border: 0px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-shadow: none;
	box-shadow: none;
	outline: none;
}

.amtp-admin-button:hover {
	background-color: #f97f00;
	border-color: #f97f00;
}

.amtp-admin-content {
	padding:20px;
	padding-top:0px;
}

img.amtp-loading-gif {
	vertical-align: -3px;
	margin-right: 3px;
}

.amtp-admin-content table tr td, .amtp-admin-content table tr th {
	border: 1px solid #cfcfcf;
	padding: 6px 10px;
	font-size: 14px;
}
